@{
    ViewData["Title"] = "Collection";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string javascriptCode = null;

    if (ViewData["JavaScript"] != null) {
        javascriptCode = ViewData["JavaScript"] as string;
    }
}

@model List<Collection>

@if(javascriptCode != null) {
    <script type="text/javascript">
        @Html.Raw(javascriptCode)
    </script>
}

<div class="container my-2">
    <h1 class="text-center text-decoration underline Plains_pFG">Scroll-Rack</h1>
</div>
<div class="container mx-3">
    <div class="row">
        <div class="container">
            @{await Html.RenderPartialAsync("_SearchPartial", ViewData["Parameters"]);}
        </div>
    </div>
    <div class="row">
        <div class="container">
            @{await Html.RenderPartialAsync("_CardGrid", Model);}
        </div>
    </div>
</div>