@using MtG_UCC.Models.Scryfall_Card;
@model List<Card>

@{
    int count = 0;
}

<div class="grid-container me-5 scroll-view">
    @if (Model != null && Model.Count > 0) {
        var currentIndex = 0;

        while (currentIndex < Model.Count) {

            <div class="row m-2">
                @for (int col = 0; col < 6; col++) {
                    if (col == 0) {
                        count = 0;
                    }

                    if (currentIndex < Model.Count) {
                        var item = Model[currentIndex];
                        await Html.RenderPartialAsync("_SearchItem", item);
                        currentIndex++;
                    } else {
                        <div class="container col-search"></div>
                    }

                    ++count;
                }

                @if ((currentIndex + 1)! > Model.Count) {
                    if (count != 6) {
                        for (int i = 0; i < (6 - count); ++i) {
                            <div class="container col-search"></div>
                        }
                    }
                }
            </div>
        }
    }
</div>