<div class="container m-5 AdjustedBacking">
    <div class="title-container text-center mt-2">
        <h1>Help! I've Planeshifted and I don't know where I am!</h1>
    </div>

    <div class="text-container my-2">
        <h4 class="text-center">Not to worry! You've come to the right place! Welcome to the help and documentation page! Lets go over the basics of how to navigate through Magic: The Gathering - Unnofficial Collector's Compendium!</h4>
    </div>

    <div class="title-container mb-2">
        <h5 class="text-center">Here you'll find brief explanations of each of the main pages and their functions.</h5>
    </div>
</div>
<div class="container m-5">
    <div class="container">
        
        <div class="row">
            <div class="col-6 AdjustedBacking">
                <div class="row">
                    <div class="text-container">
                        <h2 class="Handwritten text-decoration-underline">Search</h2>
                    </div>
                </div>
                <div class="row">
                    <article>
                        <h6>One of the very first steps that a new planeswalker takes - after landing on the doorstep of course - is to scour the many planes of existence for power, glory, or maybe a quiet place to nap. Similarly, the search page is your pathway to the boundless realms of Magic: The Gathering.</h6>
                        <p>On this page you will find a deceptively simple search bar; but don't be fooled, it packs quite a punch! Developed based off the Scryfall Advanced Search system, this search bar enables you to find just the card you're looking for.</p>

                        <div class="text-container">
                            <p>The 'Display Unique' field allows you to choose how you'd prefer to narrow your search. If you're struggling to find the right art, try setting this field to 'PRINTS'!</p>
                            <p>The Inclusions field is rather self explanatory! Each checkbox will include cards that match the label beside it. Want to find cards in another language? Check 'Multilingual'; looking for a token? Try 'Extras', the opportunities are endless!</p>
                            <p>The 'Exact?' checkbox permits you to designate that the card name you entered is, indeed, correct. Do be careful not to abuse this power though, particularly if you're prone to typos!</p>
                            <p>The 'Banned?' checkbox inverts the Format field. What once would show you only cards legal for your selected format will now show you only cards that have been banished! Can't imagine why you'd want something like that!</p>
                            <p>And last, but certainly not least, is the mana bar! This nifty little tool will let you narrow your search by color composition. A single click on one of the symbols will see it light up with color, while another click will banish that color from your sights. If there are only colors (included) mana, your search will seek only those cards who are exactly those colors. If any of the colors are x'd (excluded) then your query will seek out any cards that are AT LEAST the included colors but NOT the excluded. This means your undecided colors can still show up in the results!</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-6">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">
            </div>
        </div>
    </div>
</div>